* {
	margin : 0;
	padding: 0;
	box-sizing: border-box;
	/* outline: 2px solid brown; */
	font-family: 'Arial', sans-serif;
}

body {
	background-color: rgb(46, 4, 88);
	margin: 20px 0 0 0;
}

.header {
	background: rgb(65, 60, 60);
	display: flex;
	margin: 0 auto;
	width: 1000px;
	border-radius: 15px;
}

ul {
	display: flex;
	justify-content: space-evenly;
	list-style-type: none;
	align-items: center;
	margin: 20px;
	width: 400px;
}

h1.forHeader {
	color: whitesmoke;
	margin: 20px;
	margin-right: auto;
}

.link#display {
	width: 400px;
	padding: 0 20px;
}

.link#display a {
	color: aliceblue;
	text-decoration: none;
}

.midsection1, 
.midsection2 {
	display: flex;
	justify-content: space-evenly;
	/* margin: 10px auto; */
	padding: 20px;
/* 	height: 400px;
	width: 100%; */
}

.midsection1 {
	margin: 0 auto;
}

.midsection2 {
	background:rgba(10, 10, 10, 0.719);
	flex-direction: column;
	gap: 20px;
	margin: 10px auto 0 auto;
}

.midsecContainer {
	display: flex;
	gap: 20px;
	/* background-image: url(./img/pexels-taryn-elliott-5405597.jpg); */
	/* background-color: rgb(243, 207, 252); */
}

.midsecContainer2 {
	display: flex;
	gap: 20px;
	/* background-image: url(./img/pexels-taryn-elliott-5405597.jpg); */
	/* background-color: rgb(243, 207, 252); */
	
}

.container {
	display: flex;
	flex: 1;
	/* flex-direction: column; */
	justify-content: center;
	align-items: center;
	/* gap: 20px; */
}

.container2 {
	display: flex;
	flex-direction: column;
	gap: 10px;
/* 	justify-content: center;
	align-items: center; */
}

.getStarted, 
.fillForm, 
.button {
	margin: 0 auto;
	padding: 20px;
	width: 400px;
}

.getStarted {
	background-color: rgb(212, 238, 247);
	height: 50px;
	border-radius: 5px 15px 15px 5px;
}

.fillForm {
	color: white;
	background-color: rgb(126, 161, 68);
	height: 300px;
	border-radius: 15px 35px 15px 35px;
}

img.imageStyle {
	border-radius: 25px;
}

.button {
	/* align-self: flex-end; */
	font-size: large;
	font-weight: 900;
	background-color: rgb(10, 10, 10);
	height: 50px;
	width: 100%;
	border-radius: 18px;
}

.button a {
	color: white;
	text-decoration: none;
	align-content: center;
}

.midsection2 img {
	border-radius: 100px;
}

.midsection2 p {
	color: white;
	font-size: 17px;
	font-weight: 900;
}

.midsection3 {
	display: flex;
	flex-direction: column;
	background: white;
}

.midsection3 h2 {
	background: rgba(185, 247, 226, 0.767);
	font-size: 30px;
	text-align: center;
	padding: 15px;
	border-bottom: 10px solid rgba(187, 56, 8, 0.726);
	border-radius: 0 0 15px 15px;
}

.midsec3Container {
	display: flex;
	justify-content: space-evenly;
	padding: 15px;
	gap: 20px;
}

.typograph {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.typograph h3 {
	
}

.socials {
	background: whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px;
	gap: 20px;
}

.footer {
	padding: 10px;
	background-color: rgb(157, 157, 160);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.midsecContainer p,
.midsecContainer2 p {
	align-self: center;
}
