* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
	width: 100%;
	height: 100vh;
	margin: 0;
	/* background-color: #1b1b32; */
	background-color: rgb(46, 4, 88);
	color: #f5f6f7;
	font-family: Tahoma;
	font-size: 16px;
	}
  
	h1, p {
	margin: 1em auto;
	text-align: center;
  }
  
  form {
	margin: 0 auto;
	min-width: 300px;
	max-width: 500;
	width: 60vw;
	padding: 2em;
  }
  
  fieldset {
	border: 0;
	padding: 2rem 0;
	border-bottom: 3px solid #3b3b4f;
  }
  
  fieldset:last-of-type {
	border-bottom: none;
  }
  
  input, textarea, select {
	width: 100%;
	margin: 10px 0 0 0;
	min-height: 2em;
  }
  
  input, textarea {
	background-color: white;
	border: 1px solid white;
  }
  
  .inline {
	width: unset;
	margin: 0 0.5em 0 0;
	vertical-align: middle;
  }
  
  label {
	display: block;
	margin: 0.5rem 0;
  }
  
  input[id="submit"] {
	display: block;
	width: 30%;
	/* width: 60vw; */
	border-radius: 15px;
	margin: 1em auto;
	height: 2em;
	font-size: 1.1rem;
	background-color: #3b3b;
	border-color: #3b3b;
	color: white;
	min-width: 200px;
  }

  #submit:hover {
	cursor: pointer;
	color: lightgreen;
  }

  .terms-and-conditions {
	display: flex;
  }

  #terms-and-conditions {
	width: 55px;
	margin-top:  0px;
  }

  a:hover {
    color: lightblue;
	cursor: pointer;
  }

  a:active {
    color: blue;
  }

  a {
    color: white;
  }

  hr {
	color: #3b3b4f;
	height: 3px;
  }